@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: beige;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: italic;
  color: rgb(16, 17, 19);
}

header{
  width: 500px;
  margin: 0 auto;
  background-color: #38b6ff;
  color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 10px;
 font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;

}

main{
  width: 500px;
  margin: 0 auto;
  background-color: aliceblue;
}

h1{
  text-align: center;
}

h2{

}

header img{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  box-shadow: none;
  cursor: auto;
}

img{
  width: 70px;
  margin-bottom: 8px;
  margin-left: 8px;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
}

.conteiner{
  display: flex;
  align-items: center;
  margin-left: 20px;
  gap: 5px;
}

.treino{
  width: 300px;
  margin-left: 100px;
}
.infantil{
  width: 300px;
  margin-left: 100px;
}

.logo{
  box-shadow: none;
  width: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: auto;
}

.kit{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 6px;
}

hr{
  border-color: rgba(181, 220, 255, 0.281);
  margin: 20px 20px 0px 20px;
}


