@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

header{
  width: 500px;
  margin: 0 auto;
  background-color: aliceblue;
  color: rgb(16, 17, 19);
  padding-top: 10px;
}

header img{
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  box-shadow: none;
  cursor: auto;
}

header a,p{
  text-decoration: none;
  text-align: center;
  color: rgb(16, 17, 19);
}

h1{
  text-align: center;
}

body{
  background-color: rgb(212, 234, 243);
  color: rgb(16, 17, 19);
}

main{
  width: 500px;
  margin: 0 auto;
  background-color: aliceblue;
  position: relative;
}

img{
  width: 70px;
  margin-bottom: 8px;
  margin-left: 8px;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
}

.conteiner{
  display: flex;
  align-items: center;
  font-size: 25px;
  margin-left: 12px;
  margin-bottom: 5px;
  gap: 3px;
}

.treino{
  width: 300px;
  margin-left: 100px;
}

.infantil{
  width: 300px;
  margin-left: 100px;
}

.logo{
  box-shadow: none;
  width: 45px;
  height: auto;
  cursor: auto;
  margin-top: 10px;
}

.kit{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 6px;
}

hr{
  border-color: rgba(181, 220, 255, 0.281);
  margin:  20px 20px 0px 20px;
}

footer{
  width: 500px;
  height: 180px;
  margin: 0 auto;
  background-color: aliceblue;
  position: relative;
}
 footer p,a{
  padding-top: 20px;
  text-decoration: none;
  text-align: center;
  color: rgb(16, 17, 19);
 }

 footer h3{
    font-size: 13px;
    color: rgb(90, 93, 95);
    display: flex;
    margin-top: 60px;
    margin-left: 37%;
 }



